body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div.dominos:hover, div.dominos:active{
  color: black;
  font-size: 30px;
  cursor: pointer;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.header{
  background-color: rgb(0, 140, 255);
  display: flex;
  justify-content: space-between;
}
.dominos{
  color: whitesmoke;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  font-weight: 35px;
  padding : 15px;
  
}
.text-right{
  text-align: right;
}
.margin-vertical-sm{
  margin-top: 9px;
  margin-bottom: 9px;
}
.pizzaName{
  font-size: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.priceDiscount{
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: bold;
}
.discount{
  color:red;
}
.base{
  color:green;
}
.toppings{
  font-size: 15px;
}
.top{
  font-style: italic;
}
.new{
  text-align: center;
  color: green;

}
.drpdwn{
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
  margin-bottom: 7px;
}

.cartImg{
  text-align: center;
}

.login{
  font-size: 21px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* .dltbtn{
  height: 5px;
  width: 25px;
} */